@model OnlineExam.Models.Table.QuizViewTable
@{
    ViewData["Title"] = "Take Exam";
}

<br />
<br />

<div class="text-center">
    <h2 class="display-5">@Model.QuizTable.Title.ToUpper()</h2>
</div>

<br />

<div class="container col-8 offset-2" style="padding:30px; text-align:center">@Model.QuizTable.Description</div>

<br />

<div id="questionSection" class="container row">
    @for (int i = 0; i < Model.QuestionTableList.Count; i++)
    {
        <div class="border container col-5 bg-light" style="padding:30px; border-radius:20px; margin-bottom:20px;">
            <div id="question+@i">
                <div class="form-group row">
                    <label>@(i+1)) @Model.QuestionTableList[i].QuestionText</label>
                </div>

                <br />

                <div>
                    <label style="overflow:hidden;" for="A" onclick="answerOnClick(@i, 'A')" id="question+@i+A" class="form-control custom+@i">A) @Model.QuestionTableList[i].AnswerA</label>
                    <label style="overflow:hidden;" for="B" onclick="answerOnClick(@i, 'B')" id="question+@i+B" class="form-control custom+@i">B) @Model.QuestionTableList[i].AnswerB</label>
                    <label style="overflow:hidden;" for="C" onclick="answerOnClick(@i, 'C')" id="question+@i+C" class="form-control custom+@i">C) @Model.QuestionTableList[i].AnswerC</label>
                    <label style="overflow:hidden;" for="D" onclick="answerOnClick(@i, 'D')" id="question+@i+D" class="form-control custom+@i">D) @Model.QuestionTableList[i].AnswerD</label>
                </div>
            </div>
        </div>
    }
</div>

<br />

<div class="form-group row">
    <div class="col-4 offset-4">
        <button id="completeBtn" onclick="CompleteQuiz();" class="btn btn-info form-control">Complete the Quiz</button>
    </div>
</div>

<div style="visibility:hidden">
    @for(int i=0; i<Model.QuestionTableList.Count; i++)
    {
        <input value="@Model.QuestionTableList[i].CorrectAnswer" id="correct+@i" />
    }
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/Quiz.js"></script>
}
